Source: yunohost-config-samba
Section: utils
Priority: extra
Maintainer: Adrien Beudin <beudbeud@yunohost.org>
Build-Depends: debhelper (>=8.0.0)
Standards-Version: 3.9.1

Package: yunohost-config-samba
Architecture: all
Homepage: http://yunohost.org
Depends: samba, smbldap-tools, samba-common-bin
Description: meta package to install environement for yunohost
 meta package to install environement for yunohost
