Source: yunohost-config-dspam
Section: utils
Priority: extra
Maintainer: Adrien Beudin <beudbeud@yunohost.org>
Build-Depends: debhelper (>=8.0.0)
Standards-Version: 3.9.1

Package: yunohost-config-dspam
Architecture: all
Homepage: http://www.yunohost.org
Depends: dspam, libdspam7-drv-hash
Replaces: yunohost-config-amavis, amavis, spamassassin
Conflicts: yunohost-config-amavis, amavis, spamassassin
Description: meta package to install environement for yunohost
 meta package to install environement for yunohost
