Package: python-bottle-doc
Source: python-bottle
Version: 0.12.6-1
Architecture: all
Maintainer: David Paleino <dapal@debian.org>
Installed-Size: 1602
Depends: libjs-sphinxdoc (>= 1.0), libjs-jquery, libjs-underscore
Section: doc
Priority: optional
Homepage: http://bottlepy.org
Description: fast and simple WSGI-framework for Python - documentation
 Bottle is a fast and simple WSGI-framework for the Python programming
 language. It offers request dispatching with url parameter support
 (routes), templates, key/value databases, a built-in HTTP server and
 adapters for many third party WSGI/HTTP-server and template engines.
 .
 This package contains the Python module documentation.
