Source: yunohost-config-others
Section: utils
Priority: extra
Maintainer: Adrien Beudin <beudbeud@yunohost.org>
Build-Depends: debhelper (>=8.0.0)
Standards-Version: 3.9.1

Package: yunohost-config-others
Architecture: all
Homepage: http://www.yunohost.org
Depends:  openssl, yunohost-config-slapd, unattended-upgrades, avahi-daemon, udisks-glue
conflicts: iptables-persistent
Description: meta package to install environement for yunohost
 meta package to install environement for yunohost
