Source: moulinette
Maintainer: Adrien Beudin <beudbeud@yunohost.org>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7.0.50), python (>= 2.7)
Standards-Version: 3.8.4
XS-Python-Version: current

Package: moulinette
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-ldap, python-psutil, python-yaml, python-netifaces, bind9, glances, python-pip, rubygems, pyminiupnpc, python-requests, dnsutils, python-udiskie, python-bottle, python-gnupg, python-importlib
Replaces: yunohost-cli
Breaks: yunohost-cli
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: CLI/API

