Source: yunohost-config-amavis
Section: utils
Priority: extra
Maintainer: Adrien Beudin <beudbeud@yunohost.org>
Build-Depends: debhelper (>=8.0.0)
Standards-Version: 3.9.1

Package: yunohost-config-amavis
Architecture: all
Homepage: http://www.yunohost.org
Depends: amavisd-new, spamassassin, razor, pyzor, yunohost-config-slapd
Description: meta package to install environement for yunohost
 meta package to install environement for yunohost
