Source: metronome
Section: net
Priority: extra
Maintainer: Adrien Beudin <beudbeud@yunohost.org>
Build-Depends: debhelper (>=8.0.0)
Standards-Version: 3.9.1

Package: metronome
Architecture: all
Depends: lua5.1, lua-expat | liblua5.1-expat0, lua-socket | liblua5.1-socket2, lua-filesystem | liblua5.1-filesystem0, liblua5.1-dev, libidn11-dev, libssl-dev, liblua5.1-event0, lua-zlib, lua-ldap, lua-sec, build-essential
Recommends: lua-sec | liblua5.1-sec0 | liblua5.1-sec1
Suggests: lua-event | liblua5.1-event0 | liblua5.1-event-prosody0
Provides: metronome-xmpp-server, metronome
Conflicts: prosody-xmpp-server, prosody
Replaces: prosody-xmpp-server, prosody
Homepage: http://www.yunohost.org
Description: Lightweight XMPP server
 Metronome is a simple-to-use XMPP server. It is designed to be easy to
 extend via plugins, and light on resources.

